{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>2026 Projected Cutoff Time: 8:52</h1>

<div style="text-align: center">
    <p>Based on <strong>91,336</strong> data points</p>
    <p>Predicted amount of current applicants: <strong>32,043</strong></p>

    <p>Confidence Interval Low: <strong>?</strong></p>
    <p>Confidence Interval High: <strong>?</strong></p>
</div>

<H2>How Does Our Model Work?</H2>
<p>info</p>

<h2>What Went Wrong?</h2>
<p>explanation</p>
{% endblock %}